@use "../utilities/color_pallete.scss" as *;
@use "../utilities/responsive.scss" as *;
.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 85px 1fr;
    height: 100vh;

    &__navbar {
        grid-row: 1 / span 2; // spans both banner + content
        grid-column: 1;
        display: flex;
    }

    &__banner {
        display: flex;
        grid-column: 2;
        grid-row: 1;
    }

    &__content {
        display: flex;
        grid-column: 2;
        grid-row: 2;
        padding: 1rem;
        overflow-y: scroll;
    }
}

// --- responsive ---
@media (max-width: $mobile-width) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: 85px auto 80px;

        &__navbar {
            grid-column: 1;
            grid-row: 3;
        }

        &__banner {
            grid-column: 1;
            grid-row: 1;
        }

        &__content {
            grid-column: 1;
            grid-row: 2;
            overflow-y: scroll;
        }
    }
}
