$base-100: oklch(28.822% 0.022 277.508);
$base-200: oklch(26.805% 0.02 277.508);
$base-300: oklch(24.787% 0.019 277.508);
$base-400: oklch(22.787% 0.019 277.508);
$base-content: oklch(97.747% 0.007 106.545);
$primary: oklch(75.461% 0.183 346.812);
$primary-content: oklch(15.092% 0.036 346.812);
$secondary: oklch(74.202% 0.148 301.883);
$secondary-content: oklch(14.84% 0.029 301.883);
$accent: oklch(83.392% 0.124 66.558);
$accent-content: oklch(16.678% 0.024 66.558);
$neutral: oklch(39.445% 0.032 275.524);
$neutral-content: oklch(87.889% 0.006 275.524);
$info: oklch(88.263% 0.093 212.846);
$info-content: oklch(17.652% 0.018 212.846);
$success: oklch(87.099% 0.219 148.024);
$success-content: oklch(17.419% 0.043 148.024);
$warning: oklch(95.533% 0.134 112.757);
$warning-content: oklch(19.106% 0.026 112.757);
$error: oklch(68.22% 0.206 24.43);
$error-content: oklch(13.644% 0.041 24.43);