@use "../utilities/color_pallete.scss" as *;

.layout {
    display: grid; /* horizontal layout */
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh; /* full viewport height */
}

.layout__sidebar {
    grid-row: 1 / span 2; /* sidebar width */
    color: var $primary;
    background-color: $base-300;
    height: 100%; /* ensures it fills container height */
}

.layout__banner {
    height: 100px; /* banner height */
    width: 100%;
}

.layout__page {
    /* fills remaining vertical space */
    background-color: $base-100;
    height: 100%;
    width: 100%;
}
