@use "../utilities/color_pallete.scss" as *;
@use "../utilities/responsive.scss" as *;

.navbar {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: $base-400;
    padding: 5%;
}

.navbar__links {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    background-color: $base-400;
}

.navbar__settings {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    background-color: $base-400;
}

.navbar__item {
    flex: 0;
    margin-bottom: 20px;
}

.navbar__link {
    display: flex;
    flex: 1;
    padding-left: 5%;
    transition: ease 0.2s;
    border-radius: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
    gap: 5%;
    color: $primary;
    &:hover {
        background-color: $neutral;
        color: $neutral-content;
        border: 0px;
    }
    &--selected {
        background-color: $neutral;
        color: $neutral-content;
    }
}

.navbar__logout {
    display: flex;
    flex: 1;
    padding-left: 5%;
    transition: ease 0.2s;
    border-radius: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
    gap: 5%;
    color: $primary;
    background-color: $primary-content;
    &:hover {
        background-color: $secondary;
        color: $secondary-content;
        border: 0px;
    }
    &--selected {
        background-color: $neutral;
        color: $neutral-content;
    }
}

.navbar__icon {
    flex: 0;
    max-height: 20px;
}

@media (max-width: $mobile-width) {
    .navbar {
        flex: 1;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 3%;
        padding-right: 3%;
        justify-content: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .navbar__links {
        flex: 1;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar__settings {
        display: none;
    }

    .navbar__item {
        flex: 1;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navbar__link {
        flex: 1;
        display: flex;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        padding-left: 0;
    }

    .navbar__icon {
        flex: 1;
        max-width: 50%;
        max-height: 50%;
    }
}
