@use "../utilities/color_pallete.scss" as *;
@use "../utilities/responsive.scss" as *;

.navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: flex-start;
    background-color: $base-400;
    padding: 10px;
}

.navbar__item {
    flex: 0;
}

.navbar__link {
    display: flex;
    flex: 1;
    padding-left: 5%;
    transition: ease 0.2s;
    border-radius: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
    gap: 5%;
    color: $primary;
    &:hover {
        background-color: $neutral;
        color: $neutral-content;
    }
    &--selected {
        background-color: $neutral;
        color: $neutral-content;
    }
}
.navbar__icon {
    flex: 0;
    max-height: 20px;
}

@media (max-width: $mobile-width) {
    .navbar {
        flex: 1;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navbar__item {
        flex: 1;
        display: flex;
    }

    .navbar__link {
        flex: 1;
        display: flex;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        padding-left: 0;
    }

    .navbar__icon {
        flex: 1;
        max-width: 50%;
        max-height: 50%;
    }
}
